
@{
    ViewBag.Title = "SletMedarbejder";
}

<h2>SletMedarbejder</h2>



<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>


@using (Html.BeginForm("Slet", "Oprettelse"))
{
    <fieldset>


        Initialer: <input type="text" id="init" name="init"/>
        Afslutningsdato: <input type="text" id="datepicker" name="datepicker" />
        <br />
        <input type="submit" value="Slet medarbejder" name="slet">
    </fieldset>


    <br />
    @Html.ActionLink("Tilbage", "VisOmråde", "Område")

}




