
@model IEnumerable<Projekt.Models.Log>

    @{
        ViewBag.Title = "GetStatus";
    }

    <table>
        <tr><th>Medarbejdernavn</th><th>Status</th></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.Blanket.Medarbejder.navn</td> <td> @item.status</td></tr>
        }
        </table>





